## Lecture 09 SQLite Examples

Helpful here is the [SQLite Cheat Sheet](https://www.sqlitetutorial.net/sqlite-cheat-sheet/)

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
# Create a DB and connect to it.
conn = sqlite3.connect("lec09.db")
cursor = conn.cursor()

In [ ]:
cursor.execute('''
CREATE TABLE cats (
    id INTEGER PRIMARY KEY,
    name TEXT
)''')

In [ ]:
# Insert into the table
cursor.execute('''INSERT INTO cats VALUES (1, "Megabyte")''')
cursor.execute('''INSERT INTO cats VALUES (2, "Meowly Cyrus")''')
cursor.execute('''INSERT INTO cats VALUES (3, "Fuzz Aldrin")''')
cursor.execute('''INSERT INTO cats VALUES (4, "Chairman Meow")''')
cursor.execute('''INSERT INTO cats VALUES (5, "Anderson Pooper")''')
cursor.execute('''INSERT INTO cats VALUES (6, "Gigabyte")''')
conn.commit()

In [ ]:
# What if we run an SQL Command?
cursor.execute('''SELECT * FROM cats''')

In [ ]:
# We need to iterate over the object we get back...
for row in cursor.execute('''SELECT * FROM cats'''):
    print(row)

In [ ]:
# Or we can just go to Pandas from here...  
# note that we can tell Pandas what to do for an index here.
pd.read_sql_query("SELECT * FROM cats", conn, index_col="id")

In [ ]:
# This is a full up DB so we can delete stuff too..
cursor.execute('''DELETE FROM cats WHERE id == 4''')
conn.commit()
pd.read_sql_query("SELECT * FROM cats", conn, index_col="id")

In [ ]:
# Let's make another table for joins.
cursor.execute('''
CREATE TABLE visits (
    cat_id INTEGER PRIMARY KEY,
    date DATE
)''')

In [ ]:
cursor.execute('''INSERT INTO visits VALUES (1, "02-16-2017")''')
cursor.execute('''INSERT INTO visits VALUES (2, "02-14-2017")''')
cursor.execute('''INSERT INTO visits VALUES (5, "02-03-2017")''')
conn.commit()

# Joins in SQL

Note that the SELECT command actually gives us an inner join by default!

In [ ]:
# We can do our join in Pandas
df_cats = pd.read_sql_query('''SELECT * from cats''', conn)
df_visits = pd.read_sql_query('''SELECT * from visits''', conn)
df_cats.merge(df_visits, how = "inner", 
              left_on = "id", right_on = "cat_id")

In [ ]:
# Or we can directly run them on the system

result = cursor.execute('''
               SELECT 
                   *
               FROM 
                   cats, visits
               WHERE
                   cats.id == visits.cat_id
               ''')
for i in result:
    print(i)

In [ ]:
# We can also use union to combine rows, even if it doesn't make sense.
result = cursor.execute('''
               SELECT 
                   *
               FROM 
                   cats
               UNION
               SELECT
                   *
               FROM
                   visits
               ''')
for i in result:
    print(i)

In [ ]:
# What if we want a different join?
df_cats.merge(df_visits, how = "left", 
              left_on = "id", right_on = "cat_id")

In [ ]:
result = cursor.execute('''SELECT * FROM cats LEFT JOIN visits ON
                   cats.id == visits.cat_id''')
for i in result:
    print(i)

In [ ]:
# What if we want a different join?
df_cats.merge(df_visits, how = "outer", 
              left_on = "id", right_on = "cat_id")

In [ ]:
# Let's do an Outer Join!

result = cursor.execute('''SELECT * FROM cats FULL OUTER JOIN visits 
                    ON cats.id == visits.cat_id''')
for i in result:
    print(i)

## GroupBy and Aggregate in SQL.

In [ ]:
# Make a new Table...
cursor.execute('''
CREATE TABLE persons (
    id INTEGER PRIMARY KEY,
    age FLOAT,
    wgt_kg FLOAT,
    hgt_cm FLOAT,
    nat_id INTEGER
    
)''')

In [ ]:
# Insert into the table
cursor.execute('''INSERT INTO persons VALUES (1, 12.2, 42.3, 145.1, 1)''')
cursor.execute('''INSERT INTO persons VALUES (2, 11.0, 40.8, 143.8, 1)''')
cursor.execute('''INSERT INTO persons VALUES (3, 15.6, 65.3, 165.3, 2)''')
cursor.execute('''INSERT INTO persons VALUES (4, 35.1, 84.2, 185.8, 1)''')
cursor.execute('''INSERT INTO persons VALUES (5, 18.1, 62.2, 176.2, 3)''')
cursor.execute('''INSERT INTO persons VALUES (6, 19.6, 82.1, 180.1, 1)''')
conn.commit()

In [ ]:
ret = cursor.execute('''SELECT * FROM persons''')
for row in ret:
    print(row)

In [ ]:
ret = cursor.execute('''SELECT nat_id, AVG(age) as average_age
                        FROM persons
                        GROUP BY nat_id ''')
for row in ret:
    print(row)

In [ ]:
conn.close()